In [1]:
cd E:/GitHub/computervision

E:\GitHub\computervision

In [2]:
import numpy as np
import pandas as pd

In [5]:
model = 'vit'
model_date = '2024-03-28 07-16-58'

stats_dir = f'notebooks/{model}/models/{model_date}/stats'

In [6]:
df = pd.read_csv(stats_dir+'/cam_acc.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   epoch        286 non-null    int64
 1   code         286 non-null    object
 2   cls_0_corr   286 non-null    int64
 3   cls_0_total  286 non-null    int64
 4   cls_1_corr   286 non-null    int64
 5   cls_1_total  286 non-null    int64
dtypes: int64(5), object(1)
memory usage: 13.5+ KB

   epoch      code  cls_0_corr  cls_0_total  cls_1_corr  cls_1_total
0      1  CODE1404          25           28          27           32
1      1  CODE1644          21           26          25           34
2      1  CODE1525          29           43          16           17
3      1  CODE1881          24           33          21           27
4      1   CODE365           8           10          28           50

In [7]:
last_epoch = df.epoch.max()
idx = df[df.epoch == last_epoch].index
last_epoch

22

In [8]:
df = df[df.epoch == last_epoch]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 273 to 285
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   epoch        13 non-null     int64
 1   code         13 non-null     object
 2   cls_0_corr   13 non-null     int64
 3   cls_0_total  13 non-null     int64
 4   cls_1_corr   13 non-null     int64
 5   cls_1_total  13 non-null     int64
dtypes: int64(5), object(1)
memory usage: 728.0+ bytes

In [9]:
tp = df.cls_0_corr.sum()
tn = df.cls_1_corr.sum()
fn = df.cls_0_total.sum() - tp
fp = df.cls_1_total.sum() - tn

In [10]:
epoch = last_epoch
accuracy = (tp+tn)/(tp+tn+fn+fp)
precision = (tp)/(tp+fp)
recall = (tp)/(tp+fn)
recall_neg = (tn)/(tn+fp)

In [11]:
print(f"Epoch {epoch} Confusion matrix")
print(f"{tp}  {fn}\n{fp}  {tn}")

Epoch 22 Confusion matrix
270  30
120  360

In [12]:
print(f"Epoch {epoch} metrics")
print(f"Accuracy   = {accuracy}\nPrecision  = {precision}\nRecall     = {recall}\nRecall Neg = {recall_neg}")

Epoch 22 metrics
Accuracy   = 0.8076923076923077
Precision  = 0.6923076923076923
Recall     = 0.9
Recall Neg = 0.75

In [13]:
df['FN'] = df['cls_0_total'] - df['cls_0_corr']
df['FP'] = df['cls_1_total'] - df['cls_1_corr']
df['ACC'] = (df['cls_0_corr']+df['cls_1_corr'])/(df['cls_0_corr']+df['cls_1_corr']+df['FP']+df['FN'])

In [15]:
df.sort_values(['ACC'])

,epoch,code,cls_0_corr,cls_0_total,cls_1_corr,cls_1_total,FN,FP,ACC
284,22,CODE1405,8,10,28,50,2,22,0.600000
273,22,CODE1404,10,12,28,48,2,20,0.633333
275,22,CODE1525,12,14,28,46,2,18,0.666667
277,22,CODE365,15,20,25,40,5,15,0.666667
276,22,CODE1881,20,23,27,37,3,10,0.783333
285,22,CODE1649,18,18,30,42,0,12,0.800000
280,22,CODE1635,21,23,28,37,2,9,0.816667
279,22,CODE310,28,35,23,25,7,2,0.850000
282,22,CODE1403,27,31,26,29,4,3,0.883333
274,22,CODE1644,24,24,30,36,0,6,0.900000
281,22,CODE1461,27,28,29,32,1,3,0.933333
278,22,CODE1648,30,31,29,29,1,0,0.983333
283,22,CODE1138,30,31,29,29,1,0,0.983333